<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rathore.book_a_book">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginPage"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SignupPage"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.AdminAddProduct" />
        <activity android:name=".activity.ProductReview" />
        <activity android:name=".activity.AdminPage"></activity>
    </application>

</manifest>